<h2 class="title">Photos</h2>

<table class="table">
  <thead>
    <tr>
      <th><abbr title="Photo ID">Link</abbr></th>
      <th><abbr>Photographer</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <th><%= link_to photo.id, photo %></th>
        <td><%= photo.photographer.photographer %></td>
      </tr>
    <% end %>
  </tbody>
</table>