<h2 class="title">About this Web Application</h2>

<h3 class="subtitle">ERD Looks Like</h3>
<img src="ProjectERD.png" alt="Website ERD"/>

<h3 class="subtitle">Structure of Data</h3>
<h4>Display data for photo and for photographer i guess</h4>